<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書評の詳細</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/books/book-detail.css">
</head>

<body>
    <div class="container">
        <header class="project-header">
            <div class="logo-placeholder"><img src="../img/象と花実物.png" style="width: 3rem;" alt=""></div>
            <div style="display: flex;">
                <div class="mail-icon">
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M2 6h20v12H2z" fill="none" stroke="white" stroke-width="2" />
                        <path d="M2 6l10 7 10-7" fill="none" stroke="white" stroke-width="2" />
                    </svg>
                </div>

                <div class="menu-icon" id="menuOpen">
                    <div class="menu-icon-box">
                        <span class="span-top"></span>
                        <span class="span-middle"></span>
                        <span class="span-bottom"></span>
                    </div>
                </div>
            </div>
        </header>
        <div class="breadcrumb-box">
            <div class="breadcrumb">ホーム</div>
            <div class="breadcrumb-middle">></div>
            <div class="breadcrumb">マイページ</div>
            <div class="breadcrumb-middle">></div>
            <div class="breadcrumb">書評の詳細</div>
        </div>

        <div class="settings-icon">
            <div class="gear-radius">
                <img src="../img/gear.png" alt="" width="18px">
            </div>
        </div>

        <section class="card">
            <div class="review-container">
                <!-- タイトル -->
                <div class="review-title">
                    小学校の頃から大好きな作品！
                </div>

                <!-- 投稿日 -->
                <div class="review-meta">
                    投稿日：2025.01.01
                    <span>#文庫X 2.0</span>
                </div>

                <!-- 本カード -->
                <div class="book-card">
                    <div class="book-image"></div>

                    <div class="book-info">
                        <h3>象と花について</h3>
                        <div class="book-details">
                            <p>著者名：象と花</p>
                            <p>出版社：象と花プロジェクト</p>
                        </div>
                    </div>
                </div>
                <hr style="margin: 30px 0;">

                <!-- 書評本文 -->
                <div class="review-text">
                    最近の読書の中でも特に心に残った一冊でした。<br>
                    読み進めるほど登場人物の気持ちに寄り添えるようになり、
                    自分の日常を見つめ直すきっかけにもなりました。<br>
                    読み終えたあとも温かい余韻が残り、しばらくその世界に浸っていたくなる作品でした。<br>
                    読み進めるほど共感する場面が増え、自分の経験と重ね合わせながら楽しめました。
                    静かで優しい雰囲気の中に、少しずつ変わっていく気持ちが繊細に表現されていて、
                    読んでいて胸が温かくなる作品でした。
                </div>
            </div>
        </section>
        <div class="page-nav">
            <button class="nav-circle prev">＜</button>

            <a href="#" class="nav-center">
                マイページへ
            </a>

            <button class="nav-circle next">＞</button>
        </div>


        <!-- ヘッダーモーダル -->
        <div class="overlay-menu" id="overlayMenu">
            <div class="close-btn" id="menuClose">×</div>
            <img src="../img/象と花-white-color.png" class="" style="width: 5rem;" alt="">
            <ul class="menu-list">
                <li class="menu-item">お知らせ</li>

                <li class="menu-item">企画一覧</li>

                <li class="menu-item">象と花プロジェクト</li>

                <li class="menu-item">お問い合わせ</li>

                <li class="menu-item">ログイン</li>
            </ul>
            <div class="imgs">
                <img src="../img/instagram-white.png" class="imgs-icon" alt="">
                <img src="../img/facebook-white.png" class="imgs-width" alt="">
                <img src="../img/x-white.png" class="imgs-width" alt="">
            </div>
        </div>
        <div class="settings-overlay" id="settingsModal">
            <div class="settings-content">
                <a href="#" class="settings-row">
                    <span class="settings-icon-img">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#555" stroke-width="2">
                            <path d="M11 4H4a2 2 0 0 0-2svg14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                        </svg>
                    </span>
                    <span class="settings-text">アカウント情報編集</span>
                    <span class="settings-arrow">&gt;</span>
                </a>

                <div class="settings-line"></div>

                <a href="#" class="settings-row" id="openDeleteModal">
                    <span class="settings-icon-img">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#555" stroke-width="2">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="8.5" cy="7" r="4"></circle>
                            <line x1="23" y1="11" x2="17" y2="11"></line>
                        </svg>
                    </span>
                    <span class="settings-text">アカウント退会手続き</span>
                    <span class="settings-arrow">&gt;</span>
                </a>
            </div>
        </div>

                <!-- メールモーダル -->
        <div class="mail-modal-overlay" id="mailModal">
            <div class="mail-modal">
                <div class="mail-modal-header">
                    <span>メール</span>
                    <button class="mail-close" id="mailClose">×</button>
                </div>
                <ul class="mail-list">
                    <li>
                        <span class="mail-date">2025.01.01</span>
                        <div class="mail-flex">
                            <p>あなたの書評が選ばれました。</p>
                            <p class="mail-open-detail">></p>
                        </div>
                    </li>
                    <li>
                        <span class="mail-date">2025.01.01</span>
                        <div class="mail-flex">
                            <p>新たに寄贈しました</p>
                            <p class="mail-open-detail">></p>
                        </div>
                    </li>
                    <li>
                        <span class="mail-date">2025.01.01</span>
                        <div class="mail-flex">
                            <p>「文庫X 1.0」終了のお知らせ</p>
                            <p class="mail-open-detail">></p>
                        </div>
                    </li>
                    <li>
                        <span class="mail-date">2025.01.01</span>
                        <div class="mail-flex">
                            <p>サイトのメンテナンスについて</p>
                            <p class="mail-open-detail">></p>
                        </div>
                    </li>
                </ul>
                <div class="page-nav">
                    <button class="nav-circle prev">＜</button>
                    <button class="nav-circle next">＞</button>
                </div>

            </div>
        </div>

        <!-- メール詳細モーダル -->
        <div class="mail-modal-overlay" id="mailDetailModal">
            <div class="mail-modal">
                <div class="mail-modal-header">
                    <span>メール</span>
                    <button class="mail-close" id="mailDetailClose">×</button>
                </div>
                <article class="mail-detail-box">
                    <h1 class="main-title">【書評コンテスト】結果発表！</h1>
                    <p class="date">2025.01.01</p>
                    <div class="current-sub-title">
                        <h2 class="sub-title">第1次選考の結果を発表しました！</h2>
                    </div>
                    <p class="content-text">
                        書評コンテストにたくさんのご応募をいただき、誠にありがとうございました。<br>
                        どの作品にも作者の想いや読書への情熱が込められており、選考委員一同、非常に熱心に審査を行いました。
                    </p>

                    <p class="content-text">
                        第1次選考では、以下の点を中心に審査を実施しました。
                    </p>
                </article>
                <div class="page-nav-box">
                    <button class="nav-circle-box prev">＜</button>

                    <a href="#" class="nav-center">
                        一覧に戻る
                    </a>

                    <button class="nav-circle-box next">＞</button>
                </div>
            </div>
        </div>

        <!-- 削除確認モーダル -->
        <div class="delete-overlay" id="deleteModal">
            <div class="delete-content">
                <h3 class="delete-title">本当に書評を削除しますか？</h3>
                <p class="delete-text">
                    書評を削除すると、復元することはできません。
                </p>

                <div class="delete-buttons">
                    <button class="btn-back" id="deleteCancel">もどる</button>
                    <button class="btn-delete">削除する</button>
                </div>
            </div>
        </div>

        <!-- フッター -->
        <footer class="footer-all">
            <div class="footer-menu">
                <div class="footer-top">
                    <img src="../img/象と花-白.png" style="width: 4.5rem;" alt="">
                    <p class="footer-white-text">A BOOK PROJECT</p>
                </div>
                <a href="#" class="footer-menu-item-top">
                    <p>お知らせ</p>
                    <p>></p>
                </a>
                <a href="#" class="footer-menu-item">
                    <p>企画</p>
                    <p>></p>
                </a>
                <a href="#" class="footer-menu-item">
                    <p>象と花プロジェクト</p>
                    <p>></p>
                </a>
                <a href="#" class="footer-menu-item">
                    <p>お問い合わせ</p>
                    <p>></p>
                </a>
                <a href="#" class="footer-menu-item">
                    <p>サイトのご利用について</p>
                    <p>></p>
                </a>
            </div>

            <!-- SNSブロック -->
            <div class="footer-sns">
                <div class="sns-box">
                    <div class="footer-sns-title">SNS</div>
                    <div class="sns-box-icons">
                        <div class="sns-icons">
                            <img src="../img/instagram.png" class="sns-icon" alt="">
                            <img src="../img/facebook.png" class="sns-icon-facebook" alt="">
                            <img src="../img/x.png" class="sns-icon-x" alt="">
                        </div>

                        <div class="sns-labels">
                            <span>Instagram</span>
                            <span>Facebook</span>
                            <span>X（旧Twitter）</span>
                        </div>
                    </div>
                </div>
                <div class="footer-line"></div>

                <div class="footer-copy">©Copylight</div>
            </div>
        </footer>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/book-detail.js"></script>

    <script src="../js/mypage.js"></script>
</body>

</html>