            .container {
                min-width: 400px;
                max-width: 480px;
                margin: 0 auto;
                background-color: var(--back-color);
                min-height: 100vh;
                padding-bottom: 40px;
                position: relative;
            }

            @media screen and (max-width: 768px) {
                .container {
                    margin: 0 auto;
                    background-color: var(--back-color);
                    min-height: 100vh;
                    padding-bottom: 40px;
                    position: relative;
                }
            }

            @media screen and (max-width: 450px) {
                .container {
                    margin: 0 auto;
                    background-color: var(--back-color);
                    min-height: 100vh;
                    padding-bottom: 40px;
                    position: relative;
                }
            }