<!-- 【個別通知テンプレート作成】 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個別通知テンプレート作成</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../../static/css/admin/admin-style.css">
</head>
<body>
    <header></header>

    <main id="admin-main">
      <h1 class="page-title">個別通知テンプレート作成</h1>

      <div class="main-content-card mt-4">
        <form>
          <div class="table-container">
            <table>
              <tr>
                <th>テンプレート名 : </th>
                <td><input type="text" name="name" class="input-text w-full"></td>
              </tr>
              <tr>
                <th>タイトル : </th>
                <td><input type="text" name="title" class="input-text w-full"></td>
              </tr>
              <tr>
                <th>本文 : </th>
                <td>
                  <textarea rows="10" name="content" class="input-textarea w-full" id="template-textarea"></textarea>
                </td>
              </tr>
              <tr>
                <th></th>
                <td>
                  <p class="icon-center">置き換えタグ<span class="material-symbols-outlined text-gray cursor-help" title="個別通知送信時、自動的に各プロジェクト・書評・ユーザの情報に置換されます">help</span></p>
                  <div class="grid-4 gap-1 mt-2">
                    <button type="button" class="btn merge-tag" data-tag="{project-name}">プロジェクト名</button>
                    <button type="button" class="btn merge-tag" data-tag="{project-submissionStartAt}">書評投稿開始日時</button>
                    <button type="button" class="btn merge-tag" data-tag="{project-submissionEndAt}">書評投稿終了日時</button>
                    <button type="button" class="btn merge-tag" data-tag="{project-votingStartAt}">書評投票開始日時</button>
                    <button type="button" class="btn merge-tag" data-tag="{project-votingEndAt}">書評投票終了日時</button>
                    <button type="button" class="btn merge-tag" data-tag="{user-nickname}">ユーザーのニックネーム</button>
                    <button type="button" class="btn merge-tag" data-tag="{review-title}">書評タイトル</button>
                    <button type="button" class="btn merge-tag" data-tag="{book-title}">書籍タイトル</button>
                  </div>
                </td>
              </tr>
            </table>

            <div class="btn-wrap mt-4">
              <a href="#" class="btn">キャンセル</a>
              <input type="submit" value="確認する" class="btn">
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer></footer>

    <script src="../../static/js/admin/admin-general.js"></script>
</body>
</html>
