<!-- 【個別通知テンプレート】 -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>個別通知テンプレート一覧</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="../../static/css/admin/admin-style.css">
</head>
<body>
  <header></header>

  <main id="admin-main">
    <h1 class="page-title">個別通知テンプレート一覧</h1>

    <div class="main-content">
      <div class="flex justify-between gap-1 mt-2"> <!-- テーブルの上のメニュー部分 -->
        <div> <!-- メニュー左部分(並び替え) -->
          <select class="select">
            <option>ID</option>
          </select>
          順
        </div>
        <div> <!-- メニュー右部分(絞り込み・検索) -->
          <button class="btn">絞り込みオプション</button>
          <input type="text" class="input-text" placeholder="検索">
          <button class="btn"><span class="material-symbols-outlined scale-bigger">search</span></button>
          <a href="#" class="btn">
            <span class="material-symbols-outlined scale-bigger pr-1">library_add</span>
            新しいテンプレートを登録
          </a>
        </div>
      </div>

      <table class="list-table mt-4">
        <tr>
          <th class="table-border-r">ID</th>
          <th class="table-border-r">テンプレート名</th>
          <th class="table-border-r">タイトル</th>
          <th class="w-quarter"></th>
        </tr>
        <tr>
          <td class="table-border-r text-right">1</td>
          <td class="table-border-r">一次審査通過連絡</td>
          <td class="table-border-r">一次審通過のお知らせ</td>
          <td class="flex gap-4 center-middle">
            <a href="#" class="btn">編集する</a>
            <a href="#" class="btn btn-danger">削除する</a>
          </td>
        </tr>
      </table>

      <div class="pagination" id="pagination"></div>
    </div>
  </main>

  <footer></footer>

  <script src=""></script>
</body>
</html>
