<!-- 【お知らせ作成】 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お知らせ作成</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../../static/css/admin/admin-style.css" th:href="@{/css/admin/admin-style.css}">
</head>
<body>
    <div th:replace="~{layout-admin :: header}"></div>

    <main id="admin-main">
      <h1 class="page-title">お知らせ作成</h1>

      <div class="main-content-card mt-4">
        <form>
          <div class="table-container">
            <table>
              <tr>
                <th>カテゴリー : </th>
                <td>
                  <div class="radio-wrap">
                    <label><input type="radio" name="category" value="PROJECT" class="scale-bigger">企画情報</label>
                    <label><input type="radio" name="category" value="DONATION" class="scale-bigger">寄贈情報</label>
                    <label><input type="radio" name="category" value="ELSE" class="scale-bigger">その他情報</label>
                  </div>
                </td>
              </tr>
              <tr>
                <th>タイトル : </th>
                <td><input type="text" name="title" class="input-text w-full"></td>
              </tr>
              <tr>
                <th>本文 : </th>
                <td><textarea rows="10" name="content" class="input-textarea w-full"></textarea></td>
              </tr>
              <tr>
                <th>投稿日時(表示される日時) : </th>
                <td>
                  <input type="datetime-local" name="postedAt" class="input-datetime">
                </td>
              </tr>
            </table>

            <div class="btn-wrap mt-4">
              <input type="submit" value="確認する" class="btn">
            </div>
          </div>
        </form>
      </div>
    </main>

</body>
</html>
