<!-- 【企画作成】 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>企画作成</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../../static/css/admin/admin-style.css" th:href="@{/css/admin/admin-style.css}">
</head>
<body>
    <div th:replace="~{layout-admin :: header}"></div>

    <main id="admin-main">
      <h1 class="page-title">企画作成</h1>

      <div class="main-content-card mt-4">
        <form>
          <div class="table-container">
            <table>
              <tr>
                <th>企画名 : </th>
                <td>
                  <input type="text" name="name" class="input-text w-full">
                  <p class="text-danger"></p>
                </td>
              </tr>
              <tr>
                <th>
                  <span class="icon-center gap-1">
                    企画URL<span class="material-symbols-outlined text-gray cursor-help" title="企画ページのURLの末尾につく文字列です。">help</span> : </th>
                  </span>
                <td>
                  <input type="text" name="urlKey" id="urlKey-input" class="input-text w-full">
                  <span class="text-gray">https://zoutohana-fansite.com/project/</span><span id="urlKey-preview" class="text-gray">_____</span>
                  <p class="text-danger"></p>
                </td>
              </tr>
              <tr>
                <th class="table-border-b-light">説明 : </th>
                <td class="table-border-b-light"><textarea rows="10" name="introduction" class="input-textarea w-full"></textarea></td>
              </tr>

              <tr>
                <th>企画期間 : </th>
                <td>
                  <input type="datetime-local" name="projectStartAt" class="input-datetime">
                  <span class="wave-dash">～</span>
                  <input type="datetime-local" name="projectEndAt" class="input-datetime">
                </td>
              </tr>
              <tr>
                <th>書評作成・投稿期間 : </th>
                <td>
                  <input type="datetime-local" name="submissionStartAt" class="input-datetime">
                  <span class="wave-dash">～</span>
                  <input type="datetime-local" name="submissionEndAt" class="input-datetime">
                </td>
              </tr>
              <tr>
                <th class="table-border-b-light">書評投票(二次審査)期間 : </th>
                <td class="table-border-b-light">
                  <input type="datetime-local" name="votingStartAt" class="input-datetime">
                  <span class="wave-dash">～</span>
                  <input type="datetime-local" name="votingEndAt" class="input-datetime">
                </td>
              </tr>

              <tr>
                <th>書籍タイトル : </th>
                <td>
                  <div class="radio-wrap">
                    <label><input type="radio" name="enableVisibleBookTitle" value="FALSE" class="scale-bigger" checked>表示しない</label>
                    <label><input type="radio" name="enableVisibleBookTitle" value="TRUE" class="scale-bigger">表示する</label>
                  </div>
                </td>
              </tr>
              <tr>
                <th>書評タイトル : </th>
                <td>
                  <div class="radio-wrap">
                    <label><input type="radio" name="enableVisibleReviewTitle" value="FALSE" class="scale-bigger" checked>表示しない</label>
                    <label><input type="radio" name="enableVisibleReviewTitle" value="TRUE" class="scale-bigger">表示する</label>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="table-border-b-light">投稿者情報 : </th>
                <td class="table-border-b-light">
                  <div class="radio-wrap">
                    <label><input type="radio" name="enableVisibleUserInfo" value="FALSE" class="scale-bigger" checked>表示しない</label>
                    <label><input type="radio" name="enableVisibleUserInfo" value="TRUE" class="scale-bigger">表示する</label>
                  </div>
                </td>
              </tr>

              <tr>
                <th>テーマカラー : </th>
                <td>
                  <div class="themeColor-wrap">
                    <label>
                      <input type="radio" name="themeColor" value="GREEN" checked>
                      <span class="color-dot" style="background:var(--theme-green);" title="GREEN : みどり">
                        <span class="material-symbols-outlined">check</span>
                      </span>
                    </label>

                    <label>
                      <input type="radio" name="themeColor" value="PINK">
                      <span class="color-dot" style="background:var(--theme-pink);" title="PINK : もも">
                        <span class="material-symbols-outlined">check</span>
                      </span>
                    </label>

                    <label>
                      <input type="radio" name="themeColor" value="YELLOW">
                      <span class="color-dot" style="background:var(--theme-yellow);" title="YELLOW : き">
                        <span class="material-symbols-outlined">check</span>
                      </span>
                    </label>

                    <label>
                      <input type="radio" name="themeColor" value="BLUE">
                      <span class="color-dot" style="background:var(--theme-blue);" title="BLUE : あお">
                        <span class="material-symbols-outlined">check</span>
                      </span>
                    </label>

                    <label>
                      <input type="radio" name="themeColor" value="BLACK">
                      <span class="color-dot" style="background:var(--theme-black);" title="BLACK : くろ">
                        <span class="material-symbols-outlined">check</span>
                      </span>
                    </label>

                    <label>
                      <input type="radio" name="themeColor" value="GRAY">
                      <span class="color-dot" style="background:var(--theme-gray);" title="GRAY : はい">
                        <span class="material-symbols-outlined">check</span>
                      </span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th>ロゴ画像 : </th>
                <td id="projectInput-td">
                  <div>
                    <input type="file" accept="image/*" name="mainImg" id="mainImg-input" class="btn-file">
                    <img id="mainImg-preview">
                  </div>
                </td>
              </tr>
              <tr>
                <th>PDF : </th>
                <td id="projectInput-td">
                  <div>
                    <input type="file" accept="application/pdf" name="pdf" multiple id="pdf-input" class="btn-file">
                    <ul id="pdf-list-ul"></ul>
                  </div>
                </td>
              </tr>
            </table>

            <div class="btn-wrap mt-4">
              <a href="#" th:href="@{/}" class="btn">キャンセル</a>
              <input type="submit" value="確認する" class="btn">
            </div>
          </div>
        </form>
      </div>
    </main>

    <script src="../../static/js/admin/project-create.js" th:src="@{/js/admin/project-create.js}"></script>
</body>
</html>
