<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/project/nominate-works.css">
    <style>

    </style>
</head>

<body class="no-scroll">
    <div class="img-box" id="tapTarget">
        <div class="book-text" id="bookText">
            <div>
                <h1>あなたの</h1>
                <h1>“読みたい”が</h1>
                <h1>次に並ぶ本を決めます</h1>
            </div>
            <div class="text-top">
                <p>一次審査へのたくさんの書評投稿</p>
                <p>ありがとうございました。</p>
            </div>
            <div class="text-box">
                <p>投稿された作品は二次審査へと進み、</p>
                <p>ここからは読者のみなさんの“いい</p>
                <p>ね”が力になります</p>
            </div>
            <div class="text-box">
                <p>“いいね”が多かった 上位10作品 が、</p>
                <p>次のステップへ進むことができます</p>
                <p> 気になった作品に、あなたの一票を</p>
                <p>ぜひ届けてください。</p>
            </div>
        </div>
    </div>
    <div class="next-section" id="nextStep">
        <div id="shelf">
            <section class="award-header">
                <div class="award-frame">
                    <span class="frame top"></span>
                    <span class="frame bottom"></span>
                    <span class="frame left"></span>
                    <span class="frame right"></span>
                    <div class="award-box">
                        <p class="award-label">文庫X</p>
                        <h2 class="award-title">
                            大賞ノミネート<br>
                            作品一覧
                        </h2>
                    </div>
                </div>
                <p class="award-text">
                    こちらは、二次審査を通過した作品たちです
                </p>
                <p class="award-text-ex">
                    これらの本は実際に店頭に並び、<br>
                    最も人気のあった本が「文庫X」の大賞に選ばれます。
                </p>
            </section>
            <div class="book-shinto-box">
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
            </div>
            <div class="book-shinto-box">
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
            </div>
            <div class="book-shinto-box">
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
            </div>
            <div class="book-shinto-box">
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
                <div class="book-shinto-set">
                    <div class="all-book">
                        <div class="book-text-overlay">
                            この作品のここが<br>すごいこのいこ
                        </div>
                    </div>
                    <div class="thema-shinto-altar">
                    </div>
                    <p class="posted-by">投稿者：ぞうさん</p>
                    <div class="vote-box">
                        <p class="vote-text">123<span class="vote">票</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-book-box">
        <h3 class="you-one-text">あなたが選んだ１冊</h3>
        <div class="one-text-box">
            <p class="one-text">現在、あなたが投票している作品です</p>
            <p class="one-text">投票期間終了まで応援しましょう</p>
        </div>
        <div class="one-book-shinto-box">
            <div class="one-book-shinto-set">
                <div class="one-book">
                    <div class="one-book-text-overlay">
                        この作品のここが<br>すごいこのいこ
                    </div>
                </div>
            </div>
        </div>
        <div class="pen-box">
            <img src="../img/pen.png" class="pen" alt="">
            <p class="pen-text">投稿者：象さん</p>
        </div>
    </div>

    <div class="section-title-area">
        <div class="section-square"></div>
        <h2 class="section-title">受賞の流れ</h2>
    </div>
    <section>
        <div class="Award-box">
            <div class="Award">
                <div class="Award-circle-box">
                    <div class="Award-circle">
                        <p class="Award-circle-step">STEP</p>
                        <p class="Award-circle-1">01</p>
                    </div>
                </div>
                <div class="Award-text">
                    <h4>書店員による審査（一次審査）</h4>
                    <p>投稿された書評は、書店員がチェックします。書店員の心を掴む書評であれば、一次審査通過となり、二次審査へ進むチャンスを得られます。</p>
                </div>
            </div>
        </div>
    </section>
    <div class="dashe-box">
        <div class="dashe"></div>
    </div>
    <section>
        <div class="Award-box">
            <div class="Award">
                <div class="Award-circle-box">
                    <div class="inversion-circle">
                        <p class="inversion-circle-step">STEP</p>
                        <p class="inversion-circle-1">02</p>
                    </div>
                </div>
                <div class="Award-text">
                    <h4> 一般投票（二次審査）</h4>
                    <p>一次審査を通過した作品は、読者（一般ユーザー）による投票に進みます。「最も読みたい」と思った作品に投票してもらい、投票数の多い上位10作品が二次審査を通過します。</p>
                </div>
            </div>
        </div>
    </section>
    <div class="dashe-box">
        <div class="dashe"></div>
    </div>
    <section class="Award-bottom">
        <div class="Award-box">
            <div class="Award">
                <div class="Award-circle-box">
                    <div class="inversion-circle">
                        <p class="inversion-circle-step">STEP</p>
                        <p class="inversion-circle-1">03</p>
                    </div>
                </div>
                <div class="Award-text">
                    <h4>販売・大賞決定</h4>
                    <p>上位10作品は、推薦書評POP付きでさわや書店の店頭に並びます。一定期間の販売数を競い、最も売れた作品が大賞に選ばれます。</p>
                </div>
            </div>
        </div>
    </section>
    <div class="section-title-area">
        <div class="section-square"></div>
        <h2 class="section-title">販売店舗一覧</h2>
    </div>
    <div class="shop-area">

        <!-- フィルターボタン -->
        <div class="area-filter">
            <button class="filter-btn active">すべて</button>
            <button class="filter-btn">岩手</button>
            <button class="filter-btn">青森</button>
        </div>

        <!-- エリア見出し -->
        <div class="area-title">
            <span>IWATE AREA</span>
            <hr>
        </div>

        <!-- 店舗カード -->
        <div class="shop-card">
            <div class="shop-info">
                <h3>さわや書店　本店</h3>
                <p class="shop-detail">
                    <span class="icon">
                        <svg viewBox="0 0 24 24" class="icon-svg" aria-hidden="true">
                            <path
                                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z" />
                        </svg>
                    </span>
                    盛岡市大通二丁目 2-15
                </p>
                <p class="shop-detail">
                    <span class="icon">
                        <svg viewBox="0 0 24 24" class="icon-svg" aria-hidden="true">
                            <path
                                d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24a11.36 11.36 0 003.56.57c.55 0 1 .45 1 1V21c0 .55-.45 1-1 1C10.85 22 2 13.15 2 2c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.46.57 3.56.11.35.03.74-.25 1.02l-2.2 2.21z" />
                        </svg>
                    </span>
                    000-000-000-000
                </p>
            </div>
            <div class="shop-arrow">
                ➤
            </div>
        </div>

        <div class="shop-card">
            <div class="shop-info">
                <h3>さわや書店　本店</h3>
                <p class="shop-detail">
                    <span class="icon">
                        <svg viewBox="0 0 24 24" class="icon-svg" aria-hidden="true">
                            <path
                                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z" />
                        </svg>
                    </span>
                    盛岡市大通二丁目 2-15
                </p>
                <p class="shop-detail">
                    <span class="icon">
                        <svg viewBox="0 0 24 24" class="icon-svg" aria-hidden="true">
                            <path
                                d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24a11.36 11.36 0 003.56.57c.55 0 1 .45 1 1V21c0 .55-.45 1-1 1C10.85 22 2 13.15 2 2c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.46.57 3.56.11.35.03.74-.25 1.02l-2.2 2.21z" />
                        </svg>
                    </span>
                    000-000-000-000
                </p>
            </div>
            <div class="shop-arrow">
                ➤
            </div>
        </div>
    </div>


    <!-- お問い合わせ -->
    <div class="contact-box">
        <div class="contact-card">
            <h2 class="contact-title">お問い合わせ</h2>
            <div class="contact-desc-box">
                <p class="contact-desc">企画、寄贈に関するご質問など、</p>
                <p class="contact-desc">お気軽にお問い合わせください。</p>
            </div>
            <a href="#" class="contact-btn">
                <span class="btn-text">お問い合わせフォーム</span>
                <span class="btn-arrow">&gt;</span>
            </a>

            <div class="tel-box">
                <div class="tel-main">
                    <span class="tel-label">TEL</span>
                    <span class="tel-number">000-0000-0000</span>
                </div>
                <p class="tel-hours">受付時間 ｜ 平日 9:00 ~ 17:00</p>
            </div>
        </div>
    </div>

    <!-- モーダル -->
    <div id="bookDetailModal" class="modal-overlay">
        <span id="closeModal" class="close-button">&times;</span>
        <div style="width: 100%;">
            <div class="modal-content">
                <div class="modal-box">
                    <div class="modal-textFirst-box">
                        <img src="../img/rose.png" class="modal-rose" alt="">
                        <h3>心を奪われた作品</h3>
                        <p id="textFirst" class="modal-textFirst">
                            最近の読書の中でも特に心に残った一冊でした。読み進めるほど登場人物の気持ちに寄り添えるようになり、自分の日常を見つめ直すきっかけにもなりました。読み終えたあとは温かい余韻が残り、しばらくその世界に浸っていたくなる作品でした。読み進めるほど共感する場面が増え、自分の経験と重ね合わせながら楽しめました。静かで優しい雰囲気の中に、少しずつ変わっていく気持ちが繊細に表されていて、読んでいて胸が温かくなる作品でした。
                        </p>
                    </div>
                    <div class="modal-textSecond-box">
                        <img src="../img/rose.png" class="modal-rose" alt="">
                        <p id="textSecond" class="modal-textSecond">
                            最近の読書の中でも特に心に残った一冊でした。読み進めるほど登場人物の気持ちに寄り添えるようになり、自分の日常を見つめ直すきっかけにもなりました。読み終えたあとは温かい余韻が残り、しばらくその世界に浸っていたくなる作品でした。読み進めるほど共感する場面が増え、自分の経験と重ね合わせながら楽しめました。静かで優しい雰囲気の中に、少しずつ変わっていく気持ちが繊細に表されていて、読んでいて胸が温かくなる作品でした。
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-buttons">
                <div class="modal-button"><img src="../img/vote.png" alt="" class="modal-img">投票</div>
                <div class="modal-button"><img src="../img/tagu.png" alt="" class="modal-img-book">ブックマーク</div>
            </div>
            <div class="profile-card">
                <div class="profile-header">
                    <div class="profile-icon">
                    </div>
                    <h3 class="profile-name">もたーて</h3>
                </div>

                <div class="profile-tags">
                    <span class="tag">40代</span>
                    <div class="divider"></div>
                    <span class="tag">男性</span>
                </div>

                <div class="profile-location">
                    <img src="../img/address.png" alt="address icon" class="location-icon">
                    <p class="location-text">岩手県 盛岡市 在住</p>
                </div>

                <hr class="profile-line">

                <div class="profile-bio">
                    <p>
                        読んだ本の感想を気ままに投稿しています。<br>
                        印象に残った言葉や心に響いたシーンなど、そのとき感じたことを綴っています。<br>
                        同じ作品が好きな方と感想を語り合えたらうれしいです。
                    </p>
                </div>
            </div>
        </div>
    </div>



    <!-- フッター -->
    <footer class="footer-all">
        <div class="footer-menu">
            <div class="footer-top">
                <img src="../img/zoutohana-white.png" style="width: 4.5rem;" alt="">
                <p class="footer-white-text">A BOOK PROJECT</p>
            </div>
            <a href="#" class="footer-menu-item-top">
                <p>お知らせ</p>
                <p>></p>
            </a>
            <a href="#" class="footer-menu-item">
                <p>企画</p>
                <p>></p>
            </a>
            <a href="#" class="footer-menu-item">
                <p>象と花プロジェクト</p>
                <p>></p>
            </a>
            <a href="#" class="footer-menu-item">
                <p>お問い合わせ</p>
                <p>></p>
            </a>
            <a href="#" class="footer-menu-item">
                <p>サイトのご利用について</p>
                <p>></p>
            </a>
        </div>

        <!-- SNSブロック -->
        <div class="footer-sns">
            <div class="sns-box">
                <div class="footer-sns-title">SNS</div>
                <div class="sns-box-icons">
                    <div class="sns-icons">
                        <img src="../img/instagram.png" class="sns-icon" alt="">
                        <img src="../img/facebook.png" class="sns-icon-facebook" alt="">
                        <img src="../img/x.png" class="sns-icon-x" alt="">
                    </div>

                    <div class="sns-labels">
                        <span>Instagram</span>
                        <span>Facebook</span>
                        <span>X（旧Twitter）</span>
                    </div>
                </div>
            </div>
            <div class="footer-line"></div>

            <div class="footer-copy">©Copylight</div>
        </div>
    </footer>
    <script src="../js/nominate-works.js" defer></script>
</body>


</html>